<h1>Login page!</h1>
<form action='/login' method='POST'>
  <input type='text' name='username' value="JuneBug11"></input>
  <input type='password' name='password' value="password"></input>
  <input type='submit' name="submit" value="login"></input>
</form>