<h1>Signup page!</h1>
<form action='/signup' method='POST'>
  <p>Username: <input type='text' name='username' ></input></p><br>
  <p>Full name: <input type='text' name='fullname' ></input></p><br>
  <p>Password: <input type='text' name='password' ></input></p><br>
  <input type="radio" id="doctor" name="type" value="doctor">
  <label for="doctor">Doctor</label><br>
  <input type="radio" id="patient" name="type" value="patient">
  <label for="patient">Patient</label><br>
  <input type='submit'></input>
</form>