<h1>Signup page!</h1>
<form action='/signup' method='POST'>
  <input type='text' name='username' ></input>
  <input type='text' name='fullname' ></input>
  <input type='text' name='password' ></input><br>
  <input type="radio" id="doctor" name="type" value="doctor">
  <label for="doctor">Doctor</label><br>
  <input type="radio" id="patient" name="type" value="patient">
  <label for="patient">Patient</label><br>
  <input type='submit'></input>
</form>