<h1>Signup page! <%=@message%></h1>

<form action='/signup' method='POST'>
  <p>Username: <input type='text' name='username' ></input></p><br>
  <p>Password: <input type='text' name='password' ></input></p><br>
  <input type='submit'></input>
</form>