<h1>Create Vaccine</h1>
<form action="/vaccines/new" method="post">
  <input type="text" name="name" value="name"></input>
  <input type="text" name="disease" value="disease"></input>
  <input type="submit"></input>
</form>