<h1>Edit Vaccine</h1>
<form action="/vaccines/<%=@vaccine.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH"> 
  <lable>Name:</lable>
  <input type="text" name="name" value=<%=@vaccine.name%>></input><br>
  <lable>Disease:</lable>
  <input type="text" name="disease" value=<%=@vaccine.disease%>></input><br>
  <lable>Time:</lable>
  <input type="text" name="time" value=<%=@vaccine.time%>></input><br>
  <input type="submit"></input>
</form>
<br>
<a href="/vaccines">Return to index</a>