<h1>Vaccine Index</h1>
<br>
<a href="/vaccines/new">Create new vaccine file</a>
<br>
<%if @vaccines %>
<%@vaccines.each do |vaccine|%>
<a href="/vaccines/<%=vaccine.id%>">Vaccine:<%= vaccine.name%></a>
<br>
<%end%>
<%else%>
<p>No vaccines</p>
<%end%>