<h1><%= @vaccine.name%></h1>
<br>
<p><%=@vaccine.disease%></p>
<br>
<p><%=@vaccine.time%></p>

<a href="/vaccines/<%=@vaccine.id%>/edit">Edit or delete Vaccine </a>
<br>
<a href="/vaccines">Return to index</a>