<h1>Name: <%=@patient.full_name%></h1>
<br>
<p>DOB: <%=@patient.dob%></p>
<br>
<p>Gender: <%=@patient.gender%></p>

<a href="/patients/<%=@patient.id%>/edit">Edit or delete Patient </a>
<br>
<a href="/patients">Return to index</a>